.intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  gap: 8em;
}

.intro-container img {
  width: 35%; 
  height: auto;
  min-width: 300px;
  border-radius: 5%;
}

.introduction {
  width: 65%;
}

#name {
  font-size: 32px;
}

#desenv {
  font-size: 20px;
  margin: 4% 0%;
}

#description {
  margin-bottom: 5%;
  text-align: justify;
}

.introduction a {
  color: #00ac86;
  font-size: 20px;
  text-decoration: none;
}

.introduction span{
  font-size: 18px;
}

/*.intro-container img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}*/

.containerSeta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 15vh;
  z-index: 1004;
}

.containerSeta i {
  color: #1b1b1b;
}

/* -------------------------------------------------------------*/

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 70vh;
}

.contact {
  text-align: center;
}

.contact b, .contact a {
  font-size: 50px;
  color: #1b1b1b;
}

.contact p {
  font-size: 25px;
}

.redes {
  display: flex;
  gap: 50px;
}

.redes button {
  color: #1b1b1b;
  width: 4vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2%;
}

/* -------------------------------------------------------------*/

@media screen and (max-width: 1070px) {
  .containerSeta {
    display: none;
  }

  .intro-container {
    flex-direction: column-reverse;
    gap: 0;
    height: 85vh;
  }

  .introduction {
    width: auto;
  }

  .intro-container img {
    min-width: 200px;
  }
}

@media screen and (max-width: 636px) {
  .contact p {
    font-size: 20px;
  }

  .contact b {
    font-size: 25px;
  }

  .fa-brands {
    font-size: 30px;
  }

  .fa-solid {
    font-size: 30px;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

/* Slides do carrossel */
.carousel-slide {
  display: none;
  transition: transform 0.5s ease-in-out;
  padding: 0 40px;
}

/* Mostrar apenas o slide ativo */
.carousel-slide.active {
  display: block;
}

/* Setas de navegação */
.carousel-arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #1b1b1b;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

/* Bolinhas de navegação */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #333;
}